/* Space out content a bit */
$error-color: #FA787E;
$success-color: #78FA89;

body {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.st-header-nav {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.9em;
  .st-header-logo {
    width: 40px;
  }
  .st-header-search-box {
    margin-right: 4em;
  }
  .st-header-search-input {
    float: left;
  }
  .st-header-login-link {
    margin-right: 2em;
  }
  .st-header-user-choices {
    margin-right: 2em;
  }
  .st-header-language-options {
    margin-right: 1em;
  }
}

.st-sign-in-view {
}

.st-sign-up-view {
}


.st-body-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.st-footer-nav {
  margin-bottom: 0.3em;
  padding: 0.9em;
  #myFooterNavbar {
    margin: 0 auto;
    width: 50%;
  }
}
/* Customize container
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
} */

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.ng-invalid.ng-dirty {
  border-color: $error-color;
}
.ng-valid.ng-dirty {
  border-color: $success-color;
}

.carousel-image-slide {
  margin-bottom: 1em;
  height:300px;
  background-repeat: no-repeat;
}

.odd {
  background-color:#f8f8f8
}

.pdpImageClip{
  width:300px;
  height:180px;
  overflow:hidden;
}

.pdpThumbnailClip{
  width:45px;
  height:30px;
  overflow:hidden;
}