<div class="container tmargin">
    <header class="jumbotron">
      <h2 class="text-center">– an Online store –</h2>
    </header>

    <div class="list-group-item">
        <h3> {{productDetailCtrl.product.name}} <em class="pull-right">{{productDetailCtrl.product.price | currency}}</em></h3>
            <!-- Image Gallery -->
            <product-image-gallery></product-image-gallery>
            <!-- End Image Gallery -->

            <!-- Product tabs -->
            <product-tabs></product-tabs>
            <!-- end Product tab -->
    </div>
</div>