<div class="gallery" ng-show="productDetailCtrl.product.images.length">
    <div class="row img-wrap">
        <img class="img img-responsive pdpImageClip col-lg-4" ng-src="{{productDetailCtrl.product.images[galleryCtrl.current]}}"/>
    </div>
    <ul class="row img-thumbnails clearfix">
        <li class="col-sm-1 col-xs-1 small-image pdpThumbnailClip pull-left thumbnail" ng-repeat="image in productDetailCtrl.product.images">
            <img class="img-responsive img-thumbnail" ng-src="{{image}}" ng-click="galleryCtrl.setCurrent($index)"/>
        </li>
    </ul>
</div>
