<!-- sign-in form -->
<div class="container tmargin2">
    <h1 ng-bind="userCtrl.labels.changePassword()"></h1>
    <h5 ng-hide="userCtrl.changedPassword">{{userCtrl.currentUser().firstName + ', ' + userCtrl.labels.changeYourPassword()}}</h5>
    <div ng-show="userCtrl.userServiceError" class="has-error text-warning">{{ userCtrl.userServiceError.message}}</div>
    <div ng-hide="userCtrl.changedPassword">
        <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && userCtrl.changePassword()" novalidate>
            <div class="row tmargin2">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label ng-bind="userCtrl.labels.emailAddress()"></label>
                        <input type="email" class="form-control" placeholder="{{ userCtrl.labels.enterEmailAddress() }}" ng-model="userCtrl.user.email" required>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label ng-bind="userCtrl.labels.currentPassword()"></label>
                        <input name="oldPassword" type="password" class="form-control" ng-model="userCtrl.user.oldPassword" required>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label ng-bind="userCtrl.labels.newPassword()"></label>
                        <input name="newPassword" type="password" class="form-control" ng-model="userCtrl.user.newPassword" ng-minlength="8" required>
                        <span ng-show="changePasswordForm.newPassword.$error.minlength">{{ userCtrl.labels.passwordMinLength() }}</span>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <label ng-bind="userCtrl.labels.repeatNewPassword()"></label>
                        <input name="repeatNewPassword" type="password" class="form-control" data-match="userCtrl.user.newPassword"
                               ng-model="userCtrl.user.repeatNewPassword" required>
                        <span ng-show="signupForm.repeatNewPassword.$error.match">{{ userCtrl.labels.passwordMismatch() }}</span>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <fieldset class="form-group">
                        <input ng-disabled="changePasswordForm.$invalid" class="btn btn-primary" type="submit" value="{{ userCtrl.labels.submit() }}"/>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="tmargin2 bmargin2" ng-show="userCtrl.changedPassword">
        <a ng-href="#/" class="btn btn-success" ng-bind="userCtrl.labels.continue()"></a>
    </div>
</div>

<!-- End change password form -->

