<!-- signup form -->
<div class="st-sign-up-view">
    <h1 ng-bind="userCtrl.labels.signUp()"></h1>
    <form class="st-form" name="signupForm" ng-submit="signupForm.$valid && userCtrl.add()" novalidate>
        <div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <fieldset class="form-group">
                        <legend>{{userCtrl.labels.username()}}</legend>
                        <input name="firstName" type="text" class="form-control" placeholder="{{ userCtrl.labels.enterFirstName() }}" ng-model="userCtrl.user.firstName" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.firstName.$touched" ng-messages="signupForm.firstName.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple=""></span>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <fieldset class="form-group">
                        <input name="lastName" type="text" class="form-control" placeholder="{{ userCtrl.labels.enterLastName() }}" ng-model="userCtrl.user.lastName" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.lastName.$touched" ng-messages="signupForm.lastName.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple></span>
        </div>
        <div class="odd">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group">
                        <legend>{{userCtrl.labels.emailAddress()}}</legend>
                        <input name="email" type="email" class="form-control" placeholder="{{ userCtrl.labels.enterEmailAddress()}}"
                           ng-model="userCtrl.user.email" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.email.$touched" ng-messages="signupForm.email.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple></span>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fieldset class="form-group odd">
                    <input name="repeatEmail" type="email" class="form-control" data-match="userCtrl.user.email" placeholder="{{ userCtrl.labels.repeatEmailAddress()}}"
                           ng-model="userCtrl.user.repeatEmail" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.repeatEmail.$touched" ng-messages="signupForm.repeatEmail.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple></span>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <fieldset class="form-group">
                        <legend>{{userCtrl.labels.password()}}</legend>
                        <input name="password" type="password" class="form-control" ng-model="userCtrl.user.password" ng-minlength="8" placeholder="{{ userCtrl.labels.password()}}" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.password.$touched" ng-messages="signupForm.password.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple></span>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <fieldset class="form-group">
                        <input name="repeatPassword" type="password" class="form-control" data-match="userCtrl.user.password" ng-model="userCtrl.user.repeatPassword" placeholder="{{ userCtrl.labels.repeatPassword()}}" required>
                    </fieldset>
                </div>
            </div>
            <span ng-if="signupForm.repeatPassword.$touched" ng-messages="signupForm.repeatPassword.$error" ng-messages-include="modules/core-module/views/error-messages.html" ng-messages-multiple></span>
        </div>
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <fieldset class="st-form-field form-group">
                        <input ng-disabled="signupForm.$invalid" class="btn btn-primary" type="submit" value="{{ userCtrl.labels.signUp() }}"/>
                    </fieldset>
                </div>
            </div>
    </form>
</div>
<!-- End signup form -->

