                            <h4>Specs</h4>
                            <ul class="list-unstyled">
                              <li>
                                <strong>Shine</strong>
                                : {{productCtrl.product.shine}}</li>
                              <li>
                                <strong>Faces</strong>
                                : {{productCtrl.product.faces}}</li>
                              <li>
                                <strong>Rarity</strong>
                                : {{productCtrl.product.rarity}}</li>
                              <li>
                                <strong>Color</strong>
                                : {{productCtrl.product.color}}</li>
                            </ul>
