.xymargin{
    margin-top: 1.8em;
    margin-bottom: 1em;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.carousel-image-slide {
    height:250px;
    background-size: 100% 100%;
    background-image: none;
    background-color:#cccccc;
    background-repeat: no-repeat;
    background-position: center;
}

.odd {
    background-color:#f8f8f8    
}

img.email-icon {
    width: 40px;
    height: 40px;
    background: url(fatwem.png) 0 0;
}

img.twitter-icon {
    width: 40px;
    height: 40px;
    background: url(fatwem.png) -46px 0;
}