<span class="error-message" ng-message="required">
    {{storeCtrl.labels.errorRequiredMsg()}}
</span>
<span class="error-message" ng-message="minlength">
    {{storeCtrl.labels.errorMinLengthMsg()}}
</span>
<span class="error-message" ng-message="maxlength">
    {{storeCtrl.labels.errorMaxLengthMsg()}}
</span>
<span class="error-message" ng-message="match">
    {{storeCtrl.labels.errorMismatchMsg()}}
</span>
<span class="error-message" ng-message="email">
    {{storeCtrl.labels.errorEmailMsg()}}
</span>
<span class="error-message" ng-message="inlist">
    {{storeCtrl.labels.errorInListMsg()}}
</span>
