<div class="container tmargin1">
    <header class="jumbotron">
      <h2 class="text-center" ng-bind="productDetailCtrl.labels.storeDescription()"></h2>
    </header>

    <div class="list-group-item">
        <h3> {{productDetailCtrl.product.name}} <em class="pull-right">{{productDetailCtrl.product.price | currency:"USD$"}}</em></h3>
            <!-- Image Gallery -->
            <st-product-detail-image-gallery></st-product-detail-image-gallery>
            <!-- End Image Gallery -->

            <!-- Product tabs -->
            <st-product-detail-tabs></st-product-detail-tabs>
            <!-- end Product tab -->
    </div>
</div>