<div class="panel-heading">
    <h4 ng-bind="productDetailCtrl.labels.reviews()"></h4>
</div>
<div class="panel-body">
    <ul>
        <li ng-repeat="review in productDetailCtrl.product.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
        </li>
    </ul>
</div>
<st-product-detail-submit-review></st-product-detail-submit-review>
                                
