$error-color: #FA787E;
$success-color: #78FA89;

.odd {
  background-color:#f8f8f8
}

.ng-invalid.ng-touched {
  border-color: $error-color;
}
.ng-valid.ng-touched {
  border-color: $success-color;
}

.error-message {
  background-color: $error-color;
  color: white;
  padding: 4px 10px 1px 5px;
  border-radius: 4px;
  font-family: courier;
  position: relative;
  top: -13px;
}

.st-form {
  margin: 2em 0 2em 2em;
  .st-form-field {
    margin-bottom: 0.5em;
  }
}

/* Space out content a bit */
body {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

@import "./header-footer";
