$error-color: #FA787E;
$success-color: #78FA89;

.odd {
  background-color:#f8f8f8
}

.ng-invalid.ng-dirty {
  border-color: $error-color;
}
.ng-valid.ng-dirty {
  border-color: $success-color;
}

.error-message {
  background-color: $error-color;
  color: white;
  padding: 4px 10px 1px 5px;
  border-radius: 4px;
  font-family: courier;
}


/* breadcrumbs */
.st-breadcrumbs {

  .st-crumbs-list {
    display: block;

    .st-crumbs-item {
      display: inline;

      &.st-crumbs-first-item {
        padding-left: 8px;
        a {
          span {
            height: 29px;
            width: 3px;
            border-left: 1px solid #d9d9d9;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }

      a {
        background-image: url('../images/bg-st-crumbs-list.png');
        background-repeat: no-repeat;
        background-position: 100% 0;
        position: relative;
        &:link, &:visited {
          color: #666;
          display: block;
          float: left;
          font-size: 12px;
          margin-left: -13px;
          padding: 7px 17px 11px 25px;
          position: relative;
          text-decoration: none;
        }
        &:hover {
          color: #333;
          background-position: 100% -48px;
          cursor: pointer;
        }
        &:active {
          color: #333;
          background-position: 100% -96px;
        }
      }
    }
  }
}



/* Space out content a bit */
body {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.st-header-nav {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.9em;
  .st-header-logo {
    width: 40px;
  }
  .st-header-search-box {
    margin-right: 4em;
  }
  .st-header-search-input {
    float: left;
  }
  .st-header-login-link {
    margin-right: 2em;
  }
  .st-header-user-choices {
    margin-right: 2em;
  }
  .st-header-language-options {
    margin-right: 1em;
  }
}

.st-footer-nav {
  margin-bottom: 0.3em;
  padding: 0.9em;
  #myFooterNavbar {
    margin: 0 auto;
    width: 50%;
  }
}

.st-sign-in-view {
}

.st-sign-up-view {
  .st-form {
    margin: 2em 0 2em 2em;
    .st-form-field {
      margin-bottom: 0.5em;
    }
  }
}

.st-body-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.carousel-image-slide {
  margin-bottom: 1em;
  height:200px;
  background-repeat: no-repeat;
}

.pdpImageClip{
  width:300px;
  height:180px;
  overflow:hidden;
}

.pdpThumbnailClip{
  width:45px;
  height:30px;
  overflow:hidden;
}