/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.carousel-image-slide {
  margin-bottom: 1em;
  height:200px;
  background-repeat: no-repeat;
}

.pdpImageClip{
  width:300px;
  height:180px;
  overflow:hidden;
}

.pdpThumbnailClip{
  width:45px;
  height:30px;
  overflow:hidden;
}